<figure class="image">
    <div class="has-background-black has-text-right p-1 is-size-7-mobile _copyright"><a
            href="https://unsplash.com/photos/on0xqvZY1N4">Train departing from the station in black and white. &copy;
            Jan Huber</a></div>
    <img loading="lazy" src="img/jan-huber-on0xqvZY1N4-unsplash_3.svg" width="4312" height="2688"
        title="Photo von unterirdischem Bahnhof. &copy; Jan Huber (https://www.jan-huber.ch/) via Unsplash license (https://unsplash.com/photos/on0xqvZY1N4)">
</figure>

<!-- background-image:url(img/jan-huber-on0xqvZY1N4-unsplash_5.svg); background-size:cover; -->




<!--
                        <div class="block">
                            <a href="files/Vorstellung der Tagung_V2.0.pdf">
                                <button class="button is-link is-medium is-outlined is-fullwidth">
                                    <span class="icon is-large icon-file-pdf-o"></span>
                                    <div>Tagungsprogramm</div>
                                </button>
                            </a>
                        </div>
                        -->

<!--
            <p class="block">
                (Tagungsprogramm auch als <a href="files/Programm (Temporalitäten von Transportinfrastrukturen-Tagung 2021.05.11).pdf"> <span class="icon icon-file-pdf-o"></span>PDF</a> verfügbar.)
            </p>
            -->

<!--
                        <tr class="has-text-centered">
                            <td colspan="3"> Begrüßung
                            </td>
                        </tr>
-->


<!--
                                    <img width="270" height="203" src="img/MedKult_Schabacher_Gabriele.jpg"
                                        alt="Prof. Dr. Gabriele Schabacher"
                                        title="Prof. Dr. Gabriele Schabacher" loading="lazy">
                                    -->



<!--
                                <div class="content">
                                    <ul>
                                        <li>Kultur- und Medientheorie, Mediengeschichte</li>
                                        <li>Science and Technology Studies</li>
                                        <li>Historische Verkehrs- und Infrastrukturforschung</li>
                                        <li>Kulturtechniken des Reparierens</li>
                                        <li>Serialität und Autobiografik</li>
                                    </ul>
                                </div>
-->


<!--
                                <div class="content">
                                    <ul>
                                        <li>Kultur- und Medientheorie, Mediengeschichte</li>
                                        <li>Science and Technology Studies</li>
                                        <li>Historische Verkehrs- und Infrastrukturforschung</li>
                                        <li>Kulturtechniken des Reparierens</li>
                                        <li>Serialität und Autobiografik</li>
                                    </ul>
                                </div>
-->

<!--
                                    <img width="1280" height="960" src="img/oliver_zimmer_2.jpg"
                                        alt="Prof. Oliver Zimmer" title="Prof. Oliver Zimmer" loading="lazy">
                                    -->

<!--
                                <div class="content">
                                    <ul>
                                        <li>Nationalism and Citizenship</li>
                                        <li>Religion</li>
                                        <li>Time and Social Rhythms</li>
                                    </ul>
                                </div>
-->

<!--
                                    <img width="1280" height="960" src="img/csm_Van_Laak_Dirk_aebfd82be0_3by4.jpg"
                                        alt="Prof. Dr. Dirk van Laak" title="Prof. Dr. Dirk van Laak" loading="lazy">
                                    -->

<!--
                                <div class="content">
                                    <ul>
                                        <li>Deutsche, europäische und Globalisierungs-Geschichte des </li>19. bis 21. Jahrhunderts
                                        <li>Geschichte des Kolonialismus und </li>Imperialismus
                                        <li>Technik-, Infrastruktur- und Planungsgeschichte</li>
                                        <li>Geistes-und Intellektuellengeschichte</li>
                                        <li>Geschichte der Geschichtsschreibung und deren </li>Grenzverläufe zur Literatur
                                        <li>Ordnungen des Eigentums und der Vererbung</li>
                                    </ul>
                                </div>
-->

<!--
                                    <img width="482" height="643" src="img/portrait_placeholder.svg" title="Prof. Dr. Stephan Rammler" alt="Prof. Dr. Stephan Rammler" loading="lazy">
                                    -->



<!--
                                <div class="content">
                                    <ul>
                                        <li>Postfossile Mobilität</li>
                                        <li>Transportation Design</li>
                                        <li>Zukunftsfähige Umwelt- und Gesellschaftspolitik</li>
                                        <li>Zukunftsforschung</li>
                                    </ul>
                                </div>
                                -->

<!--
                                    <img width="960" height="1280" src="img/JMJ_2.jpg" alt="Dr. Jean-Michel Johnston"
                                        title="Dr. Jean-Michel Johnston" loading="lazy">
                                    -->


<!--
                                <div class="content">
                                    <ul>
                                        <li>Neuere und Neueste Geschichte</li>
                                        <li>Politische Korruption</li>
                                        <li>Technische Infrastrukturen</li>
                                        <li>Umwelt</li>
                                        <li>Politische und soziale Bewegungen</li>
                                    </ul>
                                </div>
                                -->

                                <!--
                                <div class="content">
                                    <ul>
                                        <li>Philosophie und Geschichte der Technowissenschaften</li>
                                        <li>Responsible Research</li>
                                        <li>Friedensforschung</li>
                                    </ul>
                                </div>
                                -->



                                <!--
                                <div class="content">
                                    <ul>
                                        <li>Sozial-räumliche Ungleichheit</li>
                                        <li>Krisenforschung</li>
                                        <li>Infrastruktur und Gesellschaft</li>
                                        <li>Moderne Architektur und Stadtentwicklung</li>
                                        <li>Urban Heritage</li>
                                    </ul>
                                </div>
-->


                                <!--
                                <div class="content">
                                    <ul>
                                        <li>Infrastrukturgeschichte im urbanen Kontext</li>
                                        <li>Infrastrukturen in Städten des globalen Südens</li>
                                        <li>Informal Urbanism</li>
                                        <li>Urbane soziale Bewegungen</li>
                                        <li>(Stadt-)Planung als politische Praxis</li>
                                    </ul>
                                </div>
                                -->


                                <!--
                                <div class="content">
                                    <ul>
                                        <li>(Security) Governance</li>
                                        <li>Infrastruktursicherheit</li>
                                        <li>Sicherheitsforschung</li>
                                        <li>Politische Geographie</li>
                                        <li>Unternehmenssicherheit</li>
                                    </ul>
                                </div>
-->


                                <!--
                                <div class="content">
                                    <ul>
                                        <li>Sozial-räumliche Ungleichheit</li>
                                        <li>Krisenforschung</li>
                                        <li>Infrastruktur und Gesellschaft</li>
                                        <li>Moderne Architektur und Stadtentwicklung</li>
                                        <li>Urban Heritage</li>
                                    </ul>
                                </div>
-->


                    <!--
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img width="1057" height="762" src="img/Schuhmacher,Cleo (3)-_2.jpg" alt="Cleo Schuhmacher 1.StEx" title="Cleo Schuhmacher 1.StEx" loading="lazy">
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">Cleo Schuhmacher 1.StEx</p>
                                <p class="subtitle is-6"><a href="https://www.kritis.tu-darmstadt.de/rtg_kritis/members_kritis/phd_students_kritis/schuhmacher.de.jsp">KRITIS-Doktorandin</a><br>Institut
                                    für Geschichte, TU Darmstadt</p>
                            </div>
                        </div>
                    </div>
                    -->



                    <footer class="section has-background-black has-text-white pb-1 pt-1">
                        Webmaster: Søren Soelberg
                        (<a class="has-text-weight-semibold _link_white" href="mailto:fromsoelberg@kritis.tu-darmstadt.de"
                            title="Webmaster">fromsoelberg@kritis.tu-darmstadt.de</a>)
                    </footer>

